/* Color Scheme = https://color.adobe.com/Spotify-2-color-theme-2145910/?showPublished=true */
$color_primary: #196100;
$color_accent: #81BF00;
$color_alt1: #979797;
$color_alt2: #313131;
$color_alt3: #1F1F1F;

$color_text_primary: white;
$color_text_hover: #ddd;

$color_status_passing: green;
$color_status_failing: red;
