<div class="details-container" fxLayout.xs="column">

  <div fxFlex="33.33%" class="details-area">
    <header class="heading">
      My Issues
      <span class="links">
        <a href="https://www.github.com/angular/angular/issues" target="_blank" class="fa fa-external-link"></a>
      </span>
    </header>

    <div class="inner">
      <div class="items-list">
        <app-list-item *ngFor="let issue of data.issues" [item]="issue"></app-list-item>
      </div>
    </div>
  </div>

  <div fxFlex="33.33%" class="details-area">
    <header class="heading">
      My PRs
      <span class="links">
        <a href="https://www.github.com/angular/angular/pulls" target="_blank" class="fa fa-external-link"></a>
      </span>
    </header>

    <div class="inner">
      <div class="items-list">
        <app-list-item *ngFor="let pr of data.prs" [item]="pr"></app-list-item>
      </div>
    </div>
  </div>

  <div fxFlex="33.33%" class="details-area">
    <header class="heading">
      Assigned
    </header>

    <div class="inner">
      <div class="items-list">
        <app-list-item *ngFor="let item of data.assigned" [item]="item"></app-list-item>
      </div>
    </div>
  </div>
</div>
